{{template "base" . }}
{{define "content"}}
    <div class="container mt-5 mb-5">
        <form action="/searchAvailability"  method="post" class="needs-validation " novalidate>
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <div class="row" id="date-picker">
                <div class="col">
            <div class="form-group">
                <label for="start_date">StartDate:</label>
                <input type="text" name="start_date" id="start_date" class="form-control">
            </div>
                </div>
                <div class="col">
            <div class="form-group">
                <label for="end_date">EndDate:</label>
                <input type="email" name="end_date" id="end_date" class="form-control">
            </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">

                    <button class="btn btn-primary">make reservation</button>
                </div>

            </div>
        </form>
    </div>

    </div>
{{end}}

{{define "js"}}
        const today=new Date();
        const element=document.querySelector("#date-picker");
        const datePicker=new DateRangePicker(element, {
            format:"yyyy-mm-dd",
            position:"",
            minDate:today,
        })



{{end}}
